# Rizli Avriananda Anshari (Pre-Test DSA)

## Load Library

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("churn.csv", encoding='latin1')
df.head(10)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,1,118,510,3355,1,0,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,19,121,510,1516,0,1,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,24,147,415,116,1,0,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,18,117,408,425,0,0,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,49,141,415,163,1,1,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0

In [17]:
df.groupby("class").count()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
class,,,,,,,,,,,,,,,,,,,,
0,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293,4293
1,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707,707

## Calculate Non-Churn Customers MoU/Subs

In [25]:
subset_df_1 = df[df['class'] == 0]
(sum(subset_df_1['total_day_minutes'])+sum(subset_df_1['total_eve_minutes'])+sum(subset_df_1['total_intl_minutes']))/4293

384.7424644770554

## Calculate Churner Customers MoU/Subs

In [26]:
subset_df_0 = df[df['class'] == 1]
(sum(subset_df_0['total_day_minutes'])+sum(subset_df_0['total_eve_minutes'])+sum(subset_df_0['total_intl_minutes']))/707

430.3207920792078

## Calculate Non-Churn Customers CS Calls

In [27]:
sum(subset_df_1['number_customer_service_calls'])/4293

1.4577218728162125

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,1,118,510,3355,1,0,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,19,121,510,1516,0,1,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,24,147,415,116,1,0,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,18,117,408,425,0,0,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,49,141,415,163,1,1,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0

## Calculate Churn Customers CS Calls

In [28]:
sum(subset_df_0['number_customer_service_calls'])/707

2.2545968882602545

## Calculate Non-Churn Customers Number of Voice Messages

In [29]:
sum(subset_df_1['number_vmail_messages'])/4293

8.29187048683904

## Calculate Churn Customers Number of Voice Messages

In [31]:
sum(subset_df_0['number_vmail_messages'])/707

4.496463932107496

## Calculate Non-Churn Customers International Plan

In [32]:
sum(subset_df_1['international_plan'])/4293

0.06382483112042861

## Calculate Churn Customers International Plan

In [33]:
sum(subset_df_0['international_plan'])/707

0.2814710042432815